<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page 1+3</h1>
    <h3><%='sanjana'.toUpperCase() %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa qui eum fugiat, in nostrum aliquid suscipit ex assumenda, dignissimos quae id, non eos temporibus possimus iste saepe porro hic animi fuga quod reiciendis quam!</p>
    <button>Send</button>
</body>
</html>